@{
    ViewData["Title"] = "InvalidToken";
}

<h1 class="text-danger">Sorry, this content isn't available right now.</h1>
<h2 class="text-danger">The link you followed may have expired (It can be used only once).</h2>
