@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "Home Page";
}
<div class="admin-sign-content admin-passwork-content">
    <div class="admin-passwork">
        <h3>Password Setup</h3>
    </div>
    <form class="admin-passwork-box" >
        <div class="form-group">
            <input id="txtPassword" name="password" type="password" class="form-control" placeholder="Password">
            <input id="hdToken" name="token" type="hidden" class="form-control">
        </div>
        <div id="divResultPassword" class="alert alert-danger collapse"><div id="divResultPasswordText"></div></div>
        <div class="form-group">
            <input id="txtConfirmPassword" name="confirmPassword" type="password" class="form-control" placeholder="Retype Password">
        </div>
        <div id="divResultConfirmPassword" class="alert alert-danger collapse"><div id="divResultConfirmPasswordText"></div></div>
        <div id="divResult" class="alert alert-danger collapse"><div id="divResultText"></div></div>
        <div class="admin-sign-btn admin-sign-btn-set-passwork">
            <input id="btnSetPassword" class="admin-btn orange" type="button" value="Set Password">
        </div>
    </form>
</div>

<div class="modal fade modal-note-text" id="ModalPasswordSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                Password has been successfully changed
            </div>
            <div class="modal-footer">
                <div class="admin-sign-btn admin-sign-btn-orange">
                    @*<button type="button" class="admin-btn orange" data-dismiss="modal">OK</button>*@
                    <a href="@Url.Action("Signin", "Login")" class="admin-btn orange">OK</a>
                </div>
            </div>
        </div>
    </div>
</div>