@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "Home Page";
}
<div class="admin-sign-content admin-passwork-content">
    <div class="admin-passwork">
        <h3>Forgot Password</h3>
    </div>
    <form class="admin-passwork-box">
        <div class="form-group">
            <input id="txtEmail" name="Email" type="email" class="form-control" placeholder="Email">
        </div>
        <div id="divResult" class="alert alert-danger collapse"><div id="divResultText"></div></div>
        <div class="admin-sign-btn admin-sign-btn-set-passwork">
            <input id="btnForgotPassword" class="admin-btn orange" type="button" value="Reset Password">
        </div>
    </form>
</div>

<div class="modal fade modal-note-text" id="ModalPasswordReset" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                A password reset link has been sent
            </div>
            <div class="modal-footer">
                <div class="admin-sign-btn admin-sign-btn-orange">
                    @*<button type="button" class="admin-btn orange" data-dismiss="modal">OK</button>*@
                    <a href="@Url.Action("Signin", "Login")" class="admin-btn orange">OK</a>
                </div>
            </div>
        </div>
    </div>
</div>